# {{ ansible_managed }}
server {

        root   /var/www/microanpr_xyz.html/html;
        index index.html index.htm index.nginx-debian.html;

        server_name microanpr.xyz www.microanpr.xyz;

        location / {
                try_files $uri $uri/ =404;
        }

}
